<div class="info">
	<div class="welcome">
		<h1>Our</h1>
	</div>

	<div class="inline"></div>

	<div class="welcome">
		<h1>Team</h1>
	</div>

	<div class="inline"></div>
	
	<i id="profilepic" class="fas fa-user fa-7x"></i>
	
	<div class="profile-manshek">
			<div class="blkbg"></div>
		<h2>Man Shek Tso</h2>
		<h3>Lawyer/Owner</h3>
		<br>
		<p>Man Shek primarily focuses on civil litigation, specifically personal injury. He is a
			dedicated advocate whose primary objective is helping his clients obtain fair
			compensation for their injuries. </p>
			<br>
		<p>Man Shek’s journey in law began when he travelled across the pond and obtained
				his Bachelor of Laws with Honours from the University of Liverpool, England. He
				further obtained a Master of Laws from Queen Mary, University of London and a
				second Master of Laws from the University of Aberdeen, Scotland. During his
				studies, Man Shek interned at law firms in Canada, UK and Hong Kong, and was
				Marshall to Justice Yam at the High Court of Hong Kong.</p>

		</div>

		<i id="profilepic" class="fas fa-user fa-7x"></i>
	<div class="profile-manshek">
			<div class="blkbg"></div>
		<h2>Cassandra Bullach</h2>
		<h3>Paralegal/Manager</h3>
		<br>
		<p>Cassandra Bullach has been working in the area of personal injury law since she
				obtained her Paralegal Certificate in 2016 from CDI College.</p>
			<br>
		<p>She is responsible for managing client files, drafting pleadings, preparing for trial,
				and assisting clients with any questions they may have regarding their claim and
				to help make them feel listened to and confident.</p>
				<br>
				<p>Cassandra has been working at TMS Law Office since 2018 and is dedicated to
						helping our clients obtain fair compensation for their injuries and help with any
						questions regarding treatment for their injuries while their case is being litigated.</p>

		</div>

</div>
