.info{
	background-color: white;
	height:100%;
	margin-top:5rem;
}
body{
	background-color: blue;
}

h1{
	font-size:5rem;
	margin:0;
	color:black;
}

h2{
	font-size: 3rem;
	position:relative;
}

h3, p{
	position:relative;
}

.inline{
	background-color:white;
	display:block;
	position: absolute;
	width:100%;
	height:20rem;
	
}
.welcome{
	position:relative;
	margin-left:2rem;
}

.blkbg{
	position:absolute;
	background-color:black;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

#profilepic{
	position:relative;
	left:50%;
	transform:translateX(-50%);
	background-color:#d4d4d4;
	padding:5rem;
	margin:3rem 0;
}

.profile-manshek{
	padding:2rem;
	position: relative;
	font-family: Roboto;
	font-weight: 300;
	color:white;


}

.profile-manshek h2{
	font-weight: 700;
}