.bg{
	background-color:yellow;
	height:5rem;
}
body{
	background-color:black;
}
h1{
	font-size:4rem;
	color: white;
	margin:0;
}

.info{
	padding:2rem;
	line-height:1.5;
}
.avenue{
	height: 20px;
	width:500px;
	background-color: white;
}

.welcome{
	padding-top: 5rem;
	padding-left: 1rem;
	padding-bottom: 2rem;
}