<button class="btn" (click)="myClickFunction($event)">
	<div class="hamburger-1" [@hamburgerani]="rotateright"></div>
	<div class="hamburger-2" [@hamburgerani]="hide"></div>
	<div class="hamburger-3" [@hamburgerani]="rotateleft"></div>
</button>
<div class="navv" [@slideOut]="navState"> 
<ul>
  <li [@childani]="navState" routerLink="/contact" routerLinkActive="active-link">Contact</li>
  <li [@childani]="navState" routerLink="/about" routerLinkActive="active-link">About</li>
  <li [@childani]="navState"routerLink="/home" routerLinkActive="active-link">Menu</li>
</ul>
</div>